<!DOCTYPE html>

<html class="no-touch"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Мебельный магазин Ros' Exc</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href="images/ros.PNG" rel="icon" type="image/png">

<link rel="stylesheet" type="text/css" href="styles/styles.css">

<script src="scripts/scripts.js"></script>

</head>

<body>
	<header>
		<div class="header">
			<a class="logo" href="index">
				<img src="images/black.PNG" width="127" height="126">
			</a>
			<div class="navigation">
            <a href="index">ГЛАВНАЯ</a>
            <a href="stelagi">СТЕЛЛАЖИ</a>
            <a href="wardrobes">ГАРДЕРОБЫ</a>
            <a href="commodes">КОМОДЫ</a>
            <a href="contacts">КОНТАКТЫ</a>
        </div>
    </div>
    </header>

<div>
    <ul class="grid">
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                    <img src="images/commodes1.jpg" alt="">
                </div>
                <div class="about__product">
                    Корпус КОМОДА изготовлен из ЛДСП толщиной 25 мм. Фасад из МДФ толщиной 16 мм. Ножки из массива дуба.
                    <br><br>Размеры комода: 400х1078х891 (ГхШхВ)
                </div>
                <p>COMMODE 3x2</p>
            </div>
        </li>
        <li class="products">
            <div class="unit">
                <div class="product-photo">
                <img src="images/commodes2.jpg" alt="">
                </div>
                <div class="about__product">
                        Корпус КОМОДА изготовлен из ЛДСП толщиной 25 мм. Фасад из МДФ толщиной 16 мм. Ножки из массива дуба.
                        <br><br>Размеры комода: 400х1078х891 (ГхШхВ)
                </div>
                <p>COMMODE 3x2</p>
            </div>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/commodes3.jpg" alt="">
                </div>
                <div class="about__product">
                    Корпус КОМОДА изготовлен из ЛДСП толщиной 25 мм. Фасад из МДФ толщиной 16 мм. Ножки из массива дуба.
                    <br><br>Размеры комода: 450х1420х550 (ГхШхВ)
            </div>
                <p>COMMODE 4x1</p>
            </div>
        </li>
        <li class="products">
            
            <div class="unit">
                <div class="product-photo">
                <img src="images/commodes4.jpg" alt="">
                </div>
                <div class="about__product">
                    Корпус КОМОДА изготовлен из ЛДСП толщиной 25 мм. Фасад из МДФ толщиной 16 мм. Ножки из массива дуба.
                    <br><br>Размеры комода: 450х1420х550 (ГхШхВ)
            </div>
                <p>COMMODE 4x1</p>
            </div>
        </li>
    </ul>
</div>
<hr>

<div class="about">
    <h2>6 фактов о фабрике Ros' Exc</h2>
    <div class="container">
        <div class="block">
            <div class="column">
            <div class="title">Работаем с 2000 года</div>
            <div class="description">За 18 лет фабрика изготовила более 150 000 единиц мебели</div>
        </div>
        <div class="column">
            <div class="title">Современное оборудование</div>
            
            <div class="description">Высокотехнологическое немецкое оборудование - Homag, Altendorf, Vitap</div>
        </div>
        <div class="column">
            <div class="title">Эко-материалы</div>
            
            <div class="description">Фасады из МДФ покрыты итальянскими лаками и эмалями RENNER</div>
        </div>
        </div>
        <div class="block">
            <div class="column">
            <div class="title">Качественная фурнитура</div>
            
            <div class="description">Петли с доводчиками, держатели для полок скрытого типа, дизайнерские декоративные элементы</div>
        </div>
        <div class="column">
            <div class="title">Модульная система</div>
            
            <div class="description">Многофункциональная модульная система позволяет создать любую композицию по Вашему желанию</div>
        </div>
        <div class="column">
            <div class="title">Мебель на заказ</div>
            
            <div class="description">Возможность изготовления мебели по индивидуальным размерам - воплотим Вашу задумку в жизнь.</div>
        </div>
        </div>
        
    </div>
</div>


    <footer>
        <div class="name">
            ROS' EXC
        </div>
        <div class="info">
            <a href="tel:89175972620" class="tele">8 (917) 597-26-20</a>
            <span class="freecall">звонок бесплатный</span>
        </div>
        <div class="me">Старовойтов Фёдор (c) <br>ИКБО-10-19</div>
    </footer>
</body>