<!DOCTYPE html>

<html class="no-touch" xmlns:height="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Мебельный магазин Ros' Exc</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link href="images/ros.PNG" rel="icon" type="image/png">

<link rel="stylesheet" type="text/css" href="styles/styles.css">

<script src="scripts/scripts.js"></script>

</head>

<body>
	<header>
		<div class="header">
			<a class="logo" href="index">
				<img src="images/black.PNG" width="127" height="126">
            </a>
            <nav>
                <div class="navigation">
                    <a href="index">ГЛАВНАЯ</a>
                    <a href="stelagi">СТЕЛЛАЖИ</a>
                    <a href="wardrobes">ГАРДЕРОБЫ</a>
                    <a href="commodes">КОМОДЫ</a>
                    <a href="contacts">КОНТАКТЫ</a>
            </div>
            </nav>
    </div>
    </header>
    
    <div class="slider">
        <div class="slider__wrapper">
          <div class="slider_items">
            <div class="slider_item">
                <img class="img-s" src="images/interior1.jpg" height 150px>
            </div>
            <div class="slider_item">
                <img class="img-s" src="images/interior2.jpg" height 150px>
            </div>
          </div>
        </div>
        <script>nextSlide()</script>
        <a class="previous" onclick="previousSlide()">&#10094;</a>
        <a class="next" onclick="nextSlide()">&#10095;</a>
        <div class="slider_button">
            <a class="button1" onclick="currentSlide(1)"></a>
            <a class="button2" onclick="currentSlide(2)"></a>
        </div>
    </div>

    <div class="features">
        <div class="feature3">
            <img src="images/dilvery.png" height="150" width="225">
            <div class="features-header">
       	 	Доставка по России
            </div>
            <div class="features-text">
        	    Транспортными компаниями ТК "ПЭК"
            </div>
        </div>
        <div class="feature1">
            <img src="images/garant.png" height="150" width="150">
            <div class="features-header">
                Гарантия 36 месяцев
            </div>
            <div class="features-text">
                Собственная система контроля качества
            </div>
        </div>

        <div class="feature2">
            <img src="images/time.jpg" height="150" width="150">
            <div class="features-header">
                14 ДНЕЙ
            </div>
            <div class="features-text">
                Срок изготовления нашей мебели
            </div>
        </div>
    </div> <hr>

    <div class="about">
        <h2>6 фактов о фабрике Ros' Exc</h2>
        <div class="container">
            <div class="block">
                <div class="column">
                <div class="title">Работаем с 2000 года</div>
                <div class="description">За 18 лет фабрика изготовила более 150 000 единиц мебели</div>
            </div>
            <div class="column">
                <div class="title">Современное оборудование</div>
                
                <div class="description">Высокотехнологическое немецкое оборудование - Homag, Altendorf, Vitap</div>
            </div>
            <div class="column">
                <div class="title">Эко-материалы</div>
                
                <div class="description">Фасады из МДФ покрыты итальянскими лаками и эмалями RENNER</div>
            </div>
            </div>
            <div class="block">
                <div class="column">
                <div class="title">Качественная фурнитура</div>
                
                <div class="description">Петли с доводчиками, держатели для полок скрытого типа, дизайнерские декоративные элементы</div>
            </div>
            <div class="column">
                <div class="title">Модульная система</div>
                
                <div class="description">Многофункциональная модульная система позволяет создать любую композицию по Вашему желанию</div>
            </div>
            <div class="column">
                <div class="title">Мебель на заказ</div>
                
                <div class="description">Возможность изготовления мебели по индивидуальным размерам - воплотим Вашу задумку в жизнь.</div>
            </div>
            </div>
            
        </div>
    </div>

    <footer>
        <div class="name">
            ROS' EXC
        </div>
        <div class="info">
            <a href="tel:89175972620" class="tele">8 (917) 597-26-20</a>
            <span class="freecall">звонок бесплатный</span>
        </div>
        <div class="me">Старовойтов Фёдор (c) <br>ИКБО-10-19</div>
    </footer>
</body>